<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p style="font-style:italic;" id="contact-message"><%= @message %></p></td>
    </tr>
  </tbody>
</table>

<table id="contact-info">
  <tr>
    <th>Contact Info</th>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @name %></td>
  </tr>
  <tr>
    <td>E-mail:</td>
    <td><%= @email %></td>
  </tr>
  <% if false %>
    <tr>
      <td>Phone:</td>
      <td><%= @phone %></td>
    </tr>
  <% end %>
</table>
