<% content_for :title, "Edit Baptism Album | Theofilos Venardos Photography" %>
<div class="container form">
  <h1 class="text-center">Editing Baptism Album</h1>

  <%= render 'form', baptism_album: @baptism_album %>
</div>
