<% content_for :title, "Create New User | Theofilos Venardos Photography" %>
<div class="container form devise text-center">
  <h1>New User</h1>

  <%= render 'form', user: @user %>

  <%= link_to 'Show all users', users_path, class: 'btn' %>
</div>
