<div class="about container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag( "theofilos_venardos_about.jpg" , class: "img-fluid center about-img", alt: "Theofilos Venardos") %>
    </div>
    <div class="col-md-8 about-info">
      <h2>Behind the lens</h2>
      <p>Theofilos Venardos</p>
      <p>
        I am Theophilos Venardos and I was born in Athens in 1973. I work as a
        professional photographer since 2000. The happiness of a marriage, the
        thrill of a baptism, the festive atmosphere of an anniversary is for me
        an inspiration.
      </p>
      <p>
        The stories I like most are the stories with pictures. I try to capture
        the uniqueness of your personal moments by letting things happen by
        themselves. By capturing your emotions I will tell your story as it unfolds
        in front of my eyes. So every picture will allow you, years from now, to
         catch the essence of your feelings on that happy day.
       </p>
          I have also been involved in interiors design photography, racing –
          sports photography and travel photography.
        </p>
    </div>
  </div>
</div>
