<div class="container-fluid faq">
  <h1 class="text-center">Frequently Asked Questions</h1>
  <div class="faq-intro">
    <p>Please find answers to the most common questions.</p>
    <p> If you still have further queries do not hesitate to <%= link_to "contact ", contact_path %> me.</p>
  </div>

  <div id="accordion">
    <%= render @faqs %>
  </div> <!-- end accordion -->

</div> <!-- end container -->

<div class="container">
  <% if user_signed_in? %>
    <div class="row new-faq">
      <%= link_to 'Edit FAQs', faqs_path, class: "btn col-10 offset-1" %>
    </div>
  <% end %>
</div> <!-- end container -->
