<div class="container thank-you text-center">
    <p>Thank you for contacting me. I have received your message and will respond as soon as possible.</p>
    <br>
    <p>Lot of greedings,</p>
    <p>Theofilos Venardos</p>
    <div class="col-12 col-sm-10 offset-sm-1">
      <%= image_tag( "theofilos_venardos_1.jpg" , class: "img-fluid center about-img", alt: "Theofilos Venardos") %>
    </div>
</div><!-- / container -->
