// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  border-color: rgba(33,33,33,.2)
}

.btn:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.container.albums,
.container.album {
  margin-bottom: 20px;
}

// Index Page
.albums {

  h1 {
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 12px;
  }

  .grid-album {
    padding: 0 6px;
  }

  .album-card {
    margin-bottom: 10px;
  }

  .album-header  {
    background-color: var(--somon);
  }

  .album-card .hover-text {
    // opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // font-size: 20px;
    // font-weight: 300;
    // color: var(--grey);
  }

  .album-links-index {
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #c8cacc;
    padding: 8px;
    text-align: right;

    i {
      color: var(--grey);
      font-size: 20px;
      padding: 0 5px;
    }
  }

}


// Show Page
.album {
  .header {
    margin-bottom: 20px;

    img {
      height: 300px;
      border-radius: 50%;
    }

    h3, h4 {
      font-weight: 300;
    }
  }

  .display-md {
    display: flex;
  }

  .display-xs,
  .display-sm {
    display: none;
  }

  .column {
    padding: 0 3px;

    img {
      margin-bottom: 6px;
      cursor: pointer;
    }

    img.hover-shadow {
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

// /* The Modal (background) */
.mdl {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.9);
  margin: auto; //to center to the .container.wedding-album (effect visible in small screens)


  /* Modal Content */
  .mdl-content {
    margin: auto;

    img {
      max-height: 450px;
    }
  }

  /* The Close Button */
  .close {
    color: var(--grey);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    opacity: 0.9;
    text-shadow: none; //Overide default
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  /* Hide the slides by default */
  .slides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    margin-right: 50px;
  }

  .prev {
    left: 0;
    margin-left: 50px;
  }

  /* On hover, change background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #cccccc;
    background-color: rgba(204, 204, 204, 0.5)
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .album {
    .display-xs {
      display: flex !important;
    }

    .display-sm,
    .display-md {
      display: none;
    }
  }

}

// Small devices (landscape phones, more than 576px and  less than 768px)
@media (min-width: 576px)  and (max-width: 767px) {
  .album {
    .display-sm {
      display: flex !important;
    }

    .display-xs,
    .display-md {
      display: none;
    }
  }
}

// XS and small devices (less than 768px)
@media (max-width: 767px) {
  .grid-album {
    padding: 0 15px;
  }

  .mdl {
    .next {
      margin-right: 0;
    }

    .prev {
      margin-left: 0;
    }
  }
}
