// Place all the styles related to the basic_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index h1,
.faq h1,
.contact h1 {
  font-size: 1.6rem;
}

// Index Page
.index {
  width: 85%;
}

.carousel {
  margin-top: 110px;
}

.index h1 {
  border-bottom: 1px solid rgba(153, 149, 127, 0.3);
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.5);
  font-weight: 300;
}

.index-portfolio,
.index-about,
.index-testimonials {
  margin: 30px 0;
}

.index-portfolio {
  .card {
    border: none;
    padding: 0 5px;
    margin-bottom: 10px;

    a {
      text-decoration: none;
    }

    a:hover {
      cursor: default;
    }

    img:hover {
      cursor: pointer;
    }
  }

  .card.wedding {
    img {
      height: 500px;
    }

    .link-wedding {
      float: right;
    }

    .hover-text {
      margin-top: -265px;
      margin-bottom: 235px;
    }

  }

  .card.baptism,
  .card.interior-design {

    img {
      height: 245px;
    }

    .hover-text {
      margin-top: -140px;
      margin-bottom: 110px;
    }
  }

  .card.baptism .link-baptism,
  .card.interior-design .link-interior-design {
    float: left;
  }
}

.index-about {
  .row:first-child {
    margin-bottom: 16px;
  }

  img {
    margin-bottom: 16px;
  }
}

// About Page
.about-img {
  width: 80%;
  opacity: 0.9;
}

.about-info p:first-of-type {
  font-style: italic;
  margin-bottom: 25px;
}

// FAQ Page
.faq h1 {
  padding: 20px 0;
}

.faq,
#accordion .card,
#accordion .card-header,
#accordion .card-body {
  background-color: rgba(237,232,228, 1);
  background-color: rgba(244,241,238, 1);
  background-color: #eae9e5;;
}

.faq-intro {
  padding-left: 20px;
}

#accordion {
  .card {
    border: none;
    border-top: 1px solid rgba(153,149,127,0.3);
  }

  .btn {
    white-space: normal;
  }

  .btn:hover {
    box-shadow: none;
  }

  .card-header {
    cursor: pointer;
    height: 70px;
    border-color: rgba(132,132,132, 0);
    text-align: left;

    h5 {
      font-size: 1.1rem;
      padding-top: 4px;
      font-weight: 500;
      }
    }

  .card-body {
    border-top: 1px solid rgba(153,149,127,0.3);
  }
}

#camera .fa-camera {
  color: #99957f;
}

#flash {
  color: #d1b419;
  font-size:13px;
  display: none;
}

// Contact Page
.contact-img {
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

.contact-text p:first-child {
  margin-bottom: 10px;
  margin-top: 20px;
}

address {
  margin: 40px 0;

 h2 {
  font-size: 20px;
  margin-bottom: 16px;
  }

  i {
  color: #99957f;
  padding-right: 10px;
  }
}

.form-contact {
  max-width: 720px;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.form-contact,
.form-contact .form-control {
  background-color: rgba(237,232,228, 1);
  background-color: #e0dfd8;
  background-color: #eae9e5;
}
.form-contact .form-control  {
  border-style: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
}

.form-contact .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #99957f;
  background-color: rgba(237,232,228, 1);
}

.btn-submit .btn {
  // background-color: #99957f;
  background-color: rgba(153,149,127, 0.8);
  margin-bottom: 15px;
}

// Thank_you Page
.container.thank-you {
  margin-bottom: 20px;
}

// Media Queries

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .index {
    width: 100%;
  }
  .carousel {
    margin-top: 70px;
  }

  .card.wedding .link-wedding,
  .card.baptism .link-baptism,
  .card.interior-design .link-interior-design  {
    float: none !important;
  }

  .index-about img {
    margin-bottom: 16px;
  }


  .about img {
    width: 50%;
    margin-bottom: 20px;
  }

  .faq-intro {
    padding-left: 0px;
  }

  .card-header {
    height: 90px;

    h5 {
      font-size: 1rem;
      padding-right: 0;
    }
  }
}

// Medium devices (tablets, less than 992px) and Large devices (desktops, less than 1200px)
// @media (max-width: 991px) { ... }

@media (min-width: 768px) and (max-width: 1199px) {
  .about img {
    margin-top: 15px;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #accordion .card-header {
    height: 100px;
  }
}

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
