// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// FAQ Page
.faq h1 {
  padding-bottom: 20px;
}

.faq,
#accordion .card,
#accordion .card-header,
#accordion .card-body {
  background-color: white;
}

.faq-intro {
  padding-left: 20px;
}

#accordion {
  .card {
    border: none;
    border-top: 1px solid rgba(153,149,127,0.3);
  }

  .btn {
    white-space: normal;
  }

  .btn:hover {
    box-shadow: none;
  }

  .card-header {
    cursor: pointer;
    height: 70px;
    border-color: rgba(132,132,132, 0);
    text-align: left;

    h5 {
      font-size: 1.1rem;
      padding-top: 4px;
      font-weight: 500;
      }
    }

  .card-header.editable {
    height: 95px;
  }

  .card-body {
    border-top: 1px solid rgba(153,149,127,0.3);
  }
}

#camera .fa-camera {
  color: #99957f;
}

#flash {
  color: #d1b419;
  color: yellow;
  color: #e5e500;
  color: #f2f27f;
  color: #efef66;
  font-size: 15px;
  display: none;
}

.new-faq {
  margin-bottom: 20px;
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {

  #accordion {
    .faq-intro {
      padding-left: 0px;
    }

    .card-header {
      height: 90px;

      h5 {
        font-size: 1rem;
        padding-right: 0;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #accordion {
    .card-header {
      height: 100px;
    }

    .card-header.editable {
      height: 120px;

      .links-index {
        text-align: center;
      }
    }
  }
}
