* { box-sizing: border-box; }

body {
  margin: 0;
}

html, body {
  height: 100%; /* for the sticky footer */
  font-family: 'Raleway', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

/** Bootstrap  buttons **/

/* no border is shown when focus or active */
.btn:focus,
.btn:focus:active {
  outline: none;
  box-shadow: none;
}


// Navbar
.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  color: black;
}

.navbar-light .navbar-nav .dropdown-menu {
  background-color: #f8f9fa;
  border: none;
  font-size: 15px;
  font-weight: 300;

  .dropdown-item {
    color: rgba(0,0,0,.5);
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .dropdown-item:hover {
    color: black;
  }
}

#navbarDropdown i {
  display: none;
  float: right;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

// Main main
.container {
  margin-top: 20px;
}

.anchor {
  min-height: 100%; /* for the sticky footer */
  margin-bottom: -3em; /* for the sticky footer */
 }

.anchor:after {
 content: ""; /* for the sticky footer */
 display: block; /* for the sticky footer */
}


/* Footer **/

.anchor:after {
 height: 3em;
}

footer {
 height: 60px;
 padding-top: 20px;
}

footer {
  background-color: #f8f9fa;;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  border-top: 1px solid rgba(153,149,127,0.3);
}

footer .social-media a {
  color:  #777;
  margin: 0 8px;
}

footer .copyright p {
  text-align: right;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }
// Small devices (landscape phones, 767px and down)
@media (max-width: 767px) {
  //Navbar
  #navbarDropdown i {
    display: inline-block;
  }
  
  .dropdown-item {
    padding-left: 32px;
  }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  //Navbar
  .navbar-nav {
    height: 80px;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-top: 20px;
  }

  //Show dropdown when hovering
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .navbar-light .navbar-nav .dropdown-menu {
    margin-top: -30px;
  }

  //Links hovering effect
  .navbar-light .nav-item .nav-link:after {
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 0%; /* Change this to whatever width you want. */
      padding-top: 7px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
      -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
      transition: width 1s;
  }

  .navbar-light .nav-item .navbar-brand:after {
    display: none;
  }

  .navbar-light .nav-item:hover .nav-link:after {
    width: 100%;
  }

  .navbar-light .nav-item.active .nav-link:after {
    width: 100%;
  }


}

// Media Queries

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  footer {
   height: 130px;
  }

  footer .social-media {
    text-align: center;
    margin-bottom: 16px;
  }

  footer .copyright p {
    text-align: center;
  }
}



// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
