<div class="nested-fields">
  <%= f.label :photo, "Photo #{f.index}", class: "wedding-photo-label" %>
  <%= f.file_field :photo %>
  <%= link_to_remove_association '<i class="fas fa-times fa-lg"></i>'.html_safe, f, class: "delete-x" %>
</div>
