<div class="container form">
  <h1 class="text-center">Editing Wedding Album</h1>

  <%= render 'form', wedding_album: @wedding_album %>

  <%= link_to 'Show', @wedding_album %> |
  <%= link_to 'Back', wedding_albums_path %>
</div>
