<div class="container form">
  <h1 class="text-center">Editing Wedding Album</h1>

  <%= render 'form', wedding_album: @wedding_album %>
  
  <%= link_to '<i class="fa fa-arrow-left"></i> Go Back to Weddings'.html_safe, wedding_albums_path, class: "btn" %>
  <%= link_to 'Show wedding album'.html_safe, @wedding_album, class: "btn" %>

</div>
