<% content_for :title, "Edit Wedding Album | Theofilos Venardos Photography" %>
<div class="container form">
  <h1 class="text-center">Editing Wedding Album</h1>

  <%= render 'form', wedding_album: @wedding_album %>

</div>
