<% content_for :title, "Wedding Portfolio | Theofilos Venardos Photography" %>
<div class="container albums wedding">
  <h1 class="text-center">WEDDING PORTFOLIO</h1>

  <div class="row">
    <%= render 'album_index', albums: @wedding_albums %>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <%= link_to 'New Wedding Album', new_wedding_album_path, class: "btn col-12" %>
    </div>
  <% end %>

</div>
