<p id="notice"><%= notice %></p>
<div class="container wedding-albums">
  <h1 class="text-center">WEDDING PORTFOLIO</h1>

  <div class="row">
    <%= render @wedding_albums %>
  </div>

  <div class="row">
    <%= link_to 'New Wedding Album', new_wedding_album_path, class: "btn col-12" %>
  </div>

</div>
